@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.center {
    display: grid;
    place-items: center;
}

body {
    margin: 0;
    background-image: url('night-sky.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scroll-snap-type: y mandatory;
}

.page {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.page-content {
    position: absolute;
    background-color: white;
    opacity: 0.7;
    width: 80%;
    height: 80%;
    border-radius: 25px;
}

.title-big {
    font-size: 50px;
}

.title-small {
}

svg path {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 15;
}
